<div class="sxemo-schema" id="{{schema.model.uid}}">

	<!-- [SCHEMA] Headline -->
	<header class="sxemo-schema-header">

		<!-- [SCHEMA] Top level schema controls -->
		<div class="sxemo-schema-controls" ng-show="!schema.model.parent">
			<!-- [SCHEMA] Schemas selector -->
			<sxemo-select
				options="schema.schemas"
				model="schema.model"
				on-select="schema.select"
				on-remove="schema.remove"
				on-restore="schema.restore"
				on-change="schema.save">
			</sxemo-select>

			<!-- [SCHEMA] Add new schema button -->
			<button class="header-button" ng-click="schema.add()" title="Add new scheme">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</button>

			<!-- [SCHEMA] Export all schemes button -->
			<button class="header-button" ng-click="schema.export()" title="Export all schemes">
				<i class="fa fa-download" aria-hidden="true"></i>
			</button>
		</div>

		<!-- [SCHEMA] Inner block schema controls -->
		<div class="sxemo-schema-controls" ng-show="schema.model.parent">

			<!-- [SCHEMA] Back button -->
			<button class="header-button" ng-click="schema.return()" title="Return to parent">
				<i class="fa fa-arrow-left" aria-hidden="true"></i>
			</button>

			<!-- [SCHEMA] Parent title -->
			<span class="parent-title">{{schema.model._parent.title}}</span>

			<!-- [SCHEMA] Separator -->
			<span class="separator"> › </span>

			<!-- [SCHEMA] Schema title -->
			<sxemo-edit on-change="schema.save" model="schema.model.title"></sxemo-edit>

			<!-- [SCHEMA] Remove block schema button -->
			<button class="header-button" ng-click="schema.removeFromBlock()" title="Remove inner scheme">
				<i class="fa fa-trash-o" aria-hidden="true"></i>
			</button>

		</div>

		<!-- [SCHEMA] Application settings button -->
		<button class="header-button big" ng-hide="true" ng-click="schema.settings()" title="Settings">
			<i class="fa fa-cog" aria-hidden="true"></i>
		</button>

		<!-- [SCHEMA] Help button -->
		<button class="header-button right big" ng-click="schema.help()" title="Information and help">
			<i class="fa fa-question-circle" aria-hidden="true"></i>
		</button>

		<!-- [SCHEMA] App status -->
		<sxemo-status></sxemo-status>

	</header>

	<!-- [SCHEMA] Workspace -->
	<div class="sxemo-schema-workspace" ng-dblclick="schema.block.add($event, false)">
		<!-- [SCHEMA] Blocks -->
		<sxemo-block ng-repeat="block in schema.model.blocks" model="block"></sxemo-block>
	</div>

</div>
