.sxemo-status {
	float: right;
    padding: 12px 10px;
    font-size: 12px;
    color: #ccc;
}

	.sxemo-status-one {
		display: inline-block;
		opacity: 0;
		transition: all 0.2s ease;
	}

		.sxemo-status-one.show {
			opacity: 1;
		}

		.sxemo-status-one:before {
			content: ' | ';
		}

			.sxemo-status-one:first-child:before {
				content: '';
			}