.sxemo-schema {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

	.sxemo-schema-header {
		flex: 0 0 40px;
		background-color: #454545;
		font-size: 16px;
		padding: 10px 20px;
		font-weight: 200;
		cursor: default;
	}

		.sxemo-schema-controls {
			display: inline-block;
		}

			.sxemo-schema-controls > span {
				display: inline-block;
				vertical-align: middle;
				line-height: 19px;
				height: 22px;
			}

				.sxemo-schema-controls > span.parent-title {
					color: #ccc;
				}

				.sxemo-schema-controls > span.separator {
					margin: 0 10px;
				}

	.sxemo-schema-workspace {
		position: relative;
		background-color: #282828;
		overflow: hidden;
		flex: 1 1 100%;
	}