.sxemo-colors {
	float: left;	
}

	.sxemo-colors.open {
		width: 50px;
	}

.sxemo-colors-options {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: -5px;
    background-color: #282828;
    padding: 5px 10px;
    width: 87px;
    padding-right: 0;
    border: 1px solid #4a4a4a;
}

	.sxemo-colors-options li {
		display: inline-block;
		margin-right: 10px;
	}

.sxemo-color {
    display: block;
    width: 15px;
    height: 15px;
    margin: 5px 0;
    border: 1px solid #535353;
    vertical-align: bottom;
    background-color: #4a4a4a;
}
	
	.sxemo-color:hover {
		border-color: #ccc;
	}

	.sxemo-color.color-violet {
		background-color: #773f95;
	}

	.sxemo-color.color-blue {
		background-color: #3f5595;
	}

	.sxemo-color.color-cyan {
		background-color: #3f8895;
	}

	.sxemo-color.color-green {
		background-color: #3f954f;
	}

	.sxemo-color.color-yellow {
		background-color: #958a3f;
	}

	.sxemo-color.color-orange {
		background-color: #956b3f;
	}

	.sxemo-color.color-red {
		background-color: #953f3f;
	}

	.sxemo-color.color-white {
		background-color: #b8b8b8;
	}