.sxemo-edit span {
	display: inline-block;
	width: 100%;
	height: 18px;
	line-height: 18px;
	margin-top: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sxemo-edit input {
	padding: 3px;
	margin: -4px;
	border: 1px solid rgba(255,255,255,0.5);
	line-height: 20px;
	height: 20px;
	width: 100%;
	display: inline-block;
	background-color: rgba(255,255,255,0.1);
	color: #fff;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}

.sxemo-edit input:focus {
	outline: none;
}