.sxemo-select {
	display: inline-block;
	line-height: 14px;
	padding: 6px;
	border: 1px solid #555;
	cursor: default;
	position: relative;
}

	.sxemo-select:hover {
		background-color: rgba(255,255,255,0.05);
	}

	.sxemo-select .sxemo-edit {
		display: inline-block;
		vertical-align: middle;
	}

.sxemo-select-dropicon {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	color: #777;
	margin-left: 20px;
}

.sxemo-select-options {
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #4a4a4a;
	border: 1px solid #5f5f5f;
	z-index: 999;
	width: auto;
    min-width: 100%;
    white-space: nowrap;
	list-style: none;
}

	.sxemo-select-option {
		display: block;
		padding: 10px 20px;
		font-size: 12px;
		position: relative;
	}

		.sxemo-select-option:hover {
			background-color: #555;
		}

			.sxemo-select-option:hover .sxemo-controls {
				width: 25px;
			}

		.sxemo-select-option .sxemo-controls {
			background-color: rgba(255,255,255,0.05);
			transition: all 0.1s ease;
			line-height: 35px;
			text-align: center;
		}

			.sxemo-select-option .sxemo-controls:hover {
				background-color: rgba(0,0,0,0.2);
			}

		.sxemo-select-option.current:before {
			content: '▶';
			font-size: 6px;
			position: absolute;
			left: 8px;
			top: 0;
			line-height: 35px;
			color: #999;
		}

		.sxemo-select-option.removed {
			color: #888;
		}