.sxemo-connector {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px 5px 5px 10px;
	background-color: #282828;
	border: 1px solid #666;
	margin-bottom: 5px;
    user-select: none;
    margin-left: -5px;
    position: relative;
}

	.sxemo-connector.out {
		border-radius: 5px 10px 10px 5px;
		margin-left: 0;
		margin-right: -5px;
	}

		.sxemo-connector.out:hover {
			background-color: #535353;
		}

		.sxemo-connector.out svg {
			display: inline-block;
			overflow: visible;
			position: absolute;
			padding-top: 4px;
			pointer-events: none;
			z-index: 999;
			left: 100%;
		}

			.sxemo-connector svg path {
			    stroke-width: 2;
			    stroke: #fff;
			    stroke-linecap: round;
			    fill: none;
			    pointer-events: auto;
			}

			.sxemo-connector svg.connected {
				opacity: 0.3;
				z-index: 0;
			}

	.sxemo-connector.add {
		opacity: 0.5;
	}

		.sxemo-connector.add:hover {
			opacity: 1;
			background-color: #282828;
		}

			.sxemo-connector:hover svg.connected,
			.sxemo-block.highlight .sxemo-connector svg,
			.sxemo-connector.highlight svg {
				opacity: 1;
				z-index: 999;
			}

				.sxemo-connector:hover svg.connected path,
				.sxemo-block.highlight .sxemo-connector svg path,
				.sxemo-connector.highlight svg path {
					stroke-width: 5;
				}

.sxemo-connector svg {
	display: none;
	left: 0;
}