.sxemo-block {
	position: absolute;
	width: 150px;
	border-top: none;
	min-height: 95px;
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
}

	.sxemo-block:hover .sxemo-controls {
		height: 25px;
		transition-delay: 0s;
	}

		.sxemo-block:hover .sxemo-controls:hover {
			overflow: visible;
		}

.sxemo-block-header {
	padding: 5px 10px;
	background-color: #4a4a4a;
	cursor: move;  
    user-select: none;
    flex: 0 0 auto;
}

	.sxemo-block-header:hover,
	.sxemo-block-header.draggin {
		background-color: #63313e;
	}

		.sxemo-block-header .scheme-icon {
		    display: inline-block;
		    text-align: center;
		    color: #999;
		    vertical-align: middle;
		    margin-right: 5px;
		    cursor: pointer;
		}

		.sxemo-block-header .sxemo-edit {
		    width: 100%;
		    display: inline-block;
		    vertical-align: middle;
		}

			.sxemo-block-header .scheme-icon + .sxemo-edit {
				width: 85%;
			}

				.sxemo-block-header .scheme-icon.ng-hide + .sxemo-edit {
					width: 100%;
				}

.sxemo-block-content {
	background-color: #2f2f2f;
	padding: 5px 0;
	flex: 1 1 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

	.sxemo-block-inserts,
	.sxemo-block-returns {
		flex: 0 0 5px;
		text-align: center;
	}

	.sxemo-block-data {
		flex: 1 1 100%;
		padding: 5px 10px;
		width: calc(100% - 20px);
		height: 100%;
	}

.sxemo-block-resize {
    height: 10px;
    background-color: #2f2f2f;
    cursor: n-resize;
    border-bottom: 2px solid #535353;
}

.sxemo-block.locked {
	outline: 3px solid #222;
}

	.sxemo-block.locked .sxemo-block-header {
		background-color: #414141;
	}

		.sxemo-block.locked .sxemo-block-header:hover {
			background-color: #4a4a4a;
		}

		.sxemo-block.locked .sxemo-block-header,
		.sxemo-block.locked .sxemo-block-resize {
			cursor: default;
		}

	.sxemo-block.locked .sxemo-block-content,
	.sxemo-block.locked .sxemo-block-resize {
		background-color: #2a2a2a;
	}

	.sxemo-block.locked .sxemo-colors {
		display: none;
	}

.sxemo-block.hl {
	outline: 3px solid #999;
}

.sxemo-block.colored-violet .sxemo-block-header {
	background-color: #3b2d41;
}

	.sxemo-block.colored-violet .sxemo-block-header:hover {
		background-color: #4c2e5b;
	}

.sxemo-block.colored-blue .sxemo-block-header {
	background-color: #2d3641;
}

	.sxemo-block.colored-blue .sxemo-block-header:hover {
		background-color: #2e3f5b;
	}

.sxemo-block.colored-cyan .sxemo-block-header {
	background-color: #2d4041;
}

	.sxemo-block.colored-cyan .sxemo-block-header:hover {
		background-color: #2e5b57;
	}

.sxemo-block.colored-green .sxemo-block-header {
	background-color: #2f412d;
}

	.sxemo-block.colored-green .sxemo-block-header:hover {
		background-color: #345b2e;
	}

.sxemo-block.colored-yellow .sxemo-block-header {
	background-color: #413d2d;
}

	.sxemo-block.colored-yellow .sxemo-block-header:hover {
		background-color: #5b4c2e;
	}

.sxemo-block.colored-orange .sxemo-block-header {
	background-color: #41342d;
}

	.sxemo-block.colored-orange .sxemo-block-header:hover {
		background-color: #5b3f2e;
	}

.sxemo-block.colored-red .sxemo-block-header {
	background-color: #412d2d;
}

	.sxemo-block.colored-red .sxemo-block-header:hover {
		background-color: #5e3737;
	}

.sxemo-block.colored-white .sxemo-block-header {
	background-color: #b8b8b8;
	color: #222;
	font-weight: bolder;
}

	.sxemo-block.colored-white .sxemo-block-header:hover {
		background-color: #dcdcdc;
	}