.sxemo-area {
	width: 100%;
	height: 100%;	
}

	.sxemo-area textarea {
		display: block;
		width: 100%;
		height: 100%;
		resize: none;
		padding: 4px;
		margin: -4px;
		color: #fff;
		line-height: 1.5em;
		font-size: 10px;
		font-family: inherit;
		font-weight: inherit;
		background-color: rgba(0,0,0,0.2);
		border: none;
	}

		.sxemo-area textarea:focus {
			outline: none;
		}

	.sxemo-area span {
	    overflow: hidden;
	    display: block;
	    width: 100%;
	    height: 100%;
	    text-overflow: ellipsis;
	    font-size: 10px;
	    color: #999;
	    line-height: 1.5em;
	    white-space: pre-line;
	}

		.sxemo-area span.placeholder {
			font-size: 9px;
			cursor: default;
			color: #555;
		}