<div class="sxemo-block resizable colored-{{block.model.color}}" 
	style="left: {{block.model.position.left}}px; top: {{block.model.position.top}}px; height: {{block.model.height}}px" 
	id="{{block.model.uid}}" 
	ng-class="{ locked: block.model.locked, highlight: block._highlight }">

		<!-- [BLOCK] Controls -->
		<div class="sxemo-controls top">

			<!-- [BLOCK] Colors button -->
			<sxemo-colors model="block.model.color" on-select="block.setColor"></sxemo-colors>

			<!-- [BLOCK] Highlight button -->
			<button class="control-icon" 
				ng-mousedown="block.highlight(true, true, true)" 
				ng-mouseup="block.highlight(false, true, true)" 
				ng-mouseleave="block.highlight(false, true, true)"
				title="Highlight all connections">
					<i class="fa fa-sun-o" aria-hidden="true"></i>
			</button>

			<!-- [BLOCK] Inner schema button -->
			<button class="control-icon" ng-click="block.openSchema()" title="Open inner schema">
				<i class="fa fa-code-fork" aria-hidden="true"></i>
			</button>

			<!-- [BLOCK] Lock button -->
			<button class="control-icon" ng-click="block.lock($event)" title="Lock/Unlock the block">
				<i ng-show="!block.model.locked" class="fa fa-lock" aria-hidden="true"></i>
				<i ng-show="block.model.locked" class="fa fa-unlock-alt" aria-hidden="true"></i>
			</button>

		</div>

		<!-- [BLOCK] Header -->
		<header class="sxemo-block-header draggable"
			ng-mousedown=";(!block.model.locked) && (block.drag.start($event))"
			title="{{block.model.title}} (Double click to rename)">

			<i class="scheme-icon fa fa-code-fork" aria-hidden="true" 
				ng-show="block.model.schema !== null && block.model.schema !== undefined"
				ng-click="block.openSchema()">
			</i>

			<!-- [BLOCK] Title editor -->
			<sxemo-edit model="block.model.title" 
				auto="block.model._new" 
				readonly="block.model.locked"
				on-change="block.save">
			</sxemo-edit>

		</header>

		<!-- [BLOCK] Content -->
		<section class="sxemo-block-content">

			<!-- [BLOCK] Inserts -->
			<div class="sxemo-block-inserts">
				<!-- [BLOCK] Insert connector -->
				<sxemo-connector 
					ng-repeat="insert in block.model.inserts" 
					model="insert" 
					ng-dblclick="block.unset(insert)" 
					parent="block.model"
					title="Double click to disconnect">
				</sxemo-connector>
			</div>

			<!-- [BLOCK] Description -->
			<div class="sxemo-block-data">
				<!-- [BLOCK] Description editor -->
				<sxemo-area model="block.model.content" readonly="block.model.locked" on-change="block.save"></sxemo-area>
			</div>

			<!-- [BLOCK] Returns -->
			<div class="sxemo-block-returns">

				<!-- [BLOCK] Return connector -->
				<sxemo-connector active 
					ng-repeat="ret in block.model.returns" 
					model="ret" 
					parent="block.model"
					ng-dblclick="block.unset(ret, true)"
					title="Double click to disconnect">
				</sxemo-connector>

				<!-- [BLOCK] New return connector -->
				<sxemo-connector active 
					class="new"
					model="block.defCon" 
					parent="block.model" 
					title="Drag to connect or create new block"
					auto="block.autoStart">
				</sxemo-connector>

			</div>

		</section>

		<!-- [BLOCK] Resize control -->
		<footer class="sxemo-block-resize" ng-mousedown=";(!block.model.locked) && (block.resizer.start($event))">
		</footer>
		
		<!-- [BLOCK] Additional controls -->
		<div class="sxemo-controls bottom">
			<!-- [BLOCK] Remove button -->
			<button class="control-icon danger" ng-click="block.remove()" ng-show="!block.model.locked" title="Remove block">
				<i class="fa fa-trash-o" aria-hidden="true"></i>
			</button>
		</div>
<div>