<header>
	<h2>Вы уверены? {{add}}</h2>
</header>
<main>
	<p>Это действие невозможно отменить.</p>
	<p>Будут удалены все блоки в схеме и все схемы, содержащиеся в этих блоках.</p>
</main>
<footer>
	<button class="aside" ng-click="dlg.yes()">Да</button>
	<button ng-click="dlg.no()">Нет</button>
</footer>