<header>
	<h2>Информация и помощь</h2>
</header>
<main>
	<h3>Добро пожаловать в Sxemo</h3>
	<p>Это максимально простой редатор схем, мы постарались соблюсти принцип KISS во всем. Никаких лишних функций, только самые необходимые, чтобы быстро набрасывать структуру чего-нибудь, план или взаимосвязи.</p>

	<h4>Как это работает</h4>
	<p>У вас есть списом схем, в каждой схеме есть блоки, которые можно добавлять, удалять и соединять между собой. У каждого блока есть заголовок и описание. Так же каждый блок может содержать внутри себя еще одну схему.</p>

	<h4>Управление</h4>
	<p>Нам кажется, что управление интуитивно понятно, но все же. Некоторые операции можно распротронить на потомков с нажатой клавишей Shift.</p>

	<p><b>NB</b> Кнопки управления блоком и в списке схем появляются при наведении курсора на блок.</p>
	<p><b>P.S.</b> Тестировалось только в Chrome, работоспособность в других браузерах не проверена.</p>

	<h5>Схемы</h5>
	<table>
		<thead>
			<tr>
				<th>Функция</th>
				<th>Действие</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Скролл схемы</td>
				<td>Понятнуть фон</td>
			</tr>
			<tr>
				<td>Добавить схему</td>
				<td>Кнопка <i class="fa fa-plus" aria-hidden="true"></i> в заголовке</td>
			</tr>
			<tr>
				<td>Удалить схему</td>
				<td>В списке схем справа кнопка <i class="fa fa-trash-o" aria-hidden="true"></i> или аналогичная кнопка в заголовке для внутренних схем блоков</td>
			</tr>
			<tr>
				<td>Переименовать схему</td>
				<td>Двойной клик по заголовку</td>
			</tr>
		</tbody>
	</table>

	<h5>Блоки</h5>
	<table>
		<thead>
			<tr>
				<th>Функция</th>
				<th>Действие</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Создать блок</td>
				<td>Двойной клик по рабочей области или подключение к пустому месту на рабочей области</td>
			</tr>
			<tr>
				<td>Соединить блоки</td>
				<td>Перетяните выход одного блока на другой блок</td>
			</tr>
			<tr>
				<td>Соединение нескольких блоков</td>
				<td>Начните тянуть выход через блоки с зажатым Shift</td>
			</tr>
			<tr>
				<td>Разъединить</td>
				<td>Двойной клик по соединению или входу / выходу</td>
			</tr>
			<tr>
				<td>Переместить блок</td>
				<td>Потяните за заголовок</td>
			</tr>
			<tr>
				<td>Переместить блок со всеми потомками</td>
				<td>Потяните за заголовок с зажатым Shift</td>
			</tr>
			<tr>
				<td>Переименовать блок</td>
				<td>Двойной клик по заголовку</td>
			</tr>
		</tbody>
	</table>

	<h6>Кнопки управления</h6>
	<table>
		<thead>
			<tr>
				<th>Положение</th>
				<th>Значок</th>
				<th>Функция</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Вверху</td>
				<td><i class="fa fa-sun-o" aria-hidden="true"></i></td>
				<td>Подсветить все прямые соединения блока</td>
			</tr>
			<tr>
				<td>Вверху</td>
				<td><i class="fa fa-code-fork" aria-hidden="true"></i></td>
				<td>Перейти на внутреннюю схему блока (При наличии схемы у блока появляется значок)</td>
			</tr>
			<tr>
				<td>Вверху</td>
				<td><i class="fa fa-lock" aria-hidden="true"></i></td>
				<td>Заблокировать/разблокировать блок - невозможно перемещение, удаление и редактирование данных</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Заблокировать/разблокировать блок и всех потомков - зажмите Shift</td>
			</tr>
			<tr>
				<td>Внизу</td>
				<td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
				<td>Удаление блока (Невозможно отметить, удаляются все схемы и блоки внутри)</td>
			</tr>
		</tbody>
	</table>
</main>
<footer>
	<button ng-click="dlg.close()">Закрыть</button>
</footer>