<span class="sxemo-edit" ng-dblclick="edit.start()">
	<!-- [EDIT] Content -->
	<span ng-show="!edit.state">{{model}}</span>

	<!-- [EDIT] Editor -->
	<input ng-show="edit.state" 
		ng-model="model" 
		ng-keyup="edit.enter($event)" 
		ng-blur="edit.save()" 
		ng-mousedown="$event.stopPropagation()"
		size="{{model.length * 1.2}}" />
</span>