<div class="sxemo-select" ng-click="select.open = !select.open">
	<!-- [SELECT] Content editor -->
	<sxemo-edit model="select.model.title" title="Double click to rename" on-change="select.change"></sxemo-edit>
	
	<!-- [SELECT] Dropdown icon -->
	<div class="sxemo-select-dropicon" title="Select a scheme">
		<i class="fa fa-chevron-down" aria-hidden="true"></i>
	</div>
	
	<!-- [SELECT] Options -->
	<ul class="sxemo-select-options" ng-show="select.open">
		<!-- [SELECT] Single option -->
		<li class="sxemo-select-option" ng-repeat="item in select.options" ng-click="$event.stopPropagation(); select.select(item)" ng-class="{ current: item === select.model, removed: item._removed }">

			<!-- [SELECT] Option content -->
			{{item.title}}

			<!-- [SELECT] Option controls -->
			<div class="sxemo-controls right" ng-hide="!select.canRemove() && !item._removed">

				<!-- [SELECT] Remove option icon -->
				<button class="control-icon danger" ng-click="$event.stopPropagation(); select.remove(item)" title="Delete" ng-hide="item._removed">
					<i class="fa fa-trash-o" aria-hidden="true"></i>
				</button>

				<!-- [SELECT] Restore option icon -->
				<button class="control-icon" ng-click="$event.stopPropagation(); select.restore(item)" title="Restore" ng-show="item._removed">
					<i class="fa fa-undo" aria-hidden="true"></i>
				</button>

			</div>
		</li>
	</ul>
</div>