.ngdialog.ngdialog-theme-default {
    padding-bottom: 80px;
    padding-top: 80px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
	background-color: #4a4a4a;
	color: #fff;
    border-radius: 0;
    border: 1px solid #666;
    padding: 0;
    font-family: 'OpenSans', 'Open Sans', sans-serif;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

	.ngdialog.ngdialog-theme-default.wide .ngdialog-content {
		width: 90%;
	}

.ngdialog.ngdialog-theme-default .ngdialog-content > * {
    font-family: 'OpenSans', 'Open Sans', sans-serif;
}

	.ngdialog.ngdialog-theme-default .ngdialog-content > header {
		padding: 10px 20px;
		border-bottom: 1px solid #666;
		flex: 0 0 auto;
	}

		.ngdialog.ngdialog-theme-default .ngdialog-content > header h2 {
			font-size: 18px;
			font-weight: 100;
			padding: 10px 0;
		}

	.ngdialog.ngdialog-theme-default .ngdialog-content > main {
		padding: 20px;
		border-bottom: 1px solid #666;
		flex: 1 1 100%;
		overflow-y: auto;
	}

		.ngdialog.ngdialog-theme-default .ngdialog-content > main h3 {
		    font-size: 18px;
		    font-weight: 100;
		    margin: 10px 0;
		}

		.ngdialog.ngdialog-theme-default .ngdialog-content > main h4 {
		    font-size: 16px;
		    font-weight: 100;
			margin: 30px 0 10px;
		}

		.ngdialog.ngdialog-theme-default .ngdialog-content > main h5 {
			text-transform: uppercase;
			font-weight: 100;
			margin: 30px 0 10px;
		}

		.ngdialog.ngdialog-theme-default .ngdialog-content > main h6 {
			font-weight: bolder;
			margin: 30px 0 10px;
		}

		.ngdialog.ngdialog-theme-default .ngdialog-content > main p {
		    font-weight: 100;
			margin: 10px 0;
		}

		.ngdialog.ngdialog-theme-default .ngdialog-content > main table {
			border-collapse: collapse;
			margin-bottom: 20px;
		}

			.ngdialog.ngdialog-theme-default .ngdialog-content > main table th,
			.ngdialog.ngdialog-theme-default .ngdialog-content > main table td {
				border: 1px solid #666;
				padding: 5px 10px;
				text-align: left;
			}

			.ngdialog.ngdialog-theme-default .ngdialog-content > main table th {
				font-weight: bolder;
			}

	.ngdialog.ngdialog-theme-default .ngdialog-content > footer {
		padding: 10px;
		flex: 0 0 auto;
	}

		.ngdialog.ngdialog-theme-default .ngdialog-content > footer button {
			border: none;
			background-color: #5f5f5f;
			color: #fff;
			padding: 10px 20px 8px;
			border-bottom: 2px solid #404040;
			vertical-align: top;
		}

			.ngdialog.ngdialog-theme-default .ngdialog-content > footer button.aside {
				background-color: transparent;
				border: none;
			}

			.ngdialog.ngdialog-theme-default .ngdialog-content > footer button:hover {
				background-color: #666;
			}

			.ngdialog.ngdialog-theme-default .ngdialog-content > footer button:active {
				background-color: #444;
				border-top: 2px solid #333;
				border-bottom: 0;
				color: #ccc;
			}

			.ngdialog.ngdialog-theme-default .ngdialog-content > footer button:focus {
				outline: none;
			}

	.ngdialog.ngdialog-theme-default .ngdialog-close:before {
		top: 18px;
		right: 10px;
	}