html,
body,
.wrapper {
	height: 100%;
}

body {
	color: #fff;
	font-family: 'OpenSans', 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: normal;
    user-select: none;
}

b {
	font-weight: 700;
}

.sxemo-controls {
	position: absolute;
	left: 0;
	bottom: 100%;
	width: 100%;
	height: 0;
	overflow: hidden;
	transition: all 0.2s ease 0.3s;
	text-align: right;
	z-index: 999;
}

	.sxemo-controls.bottom {
		bottom: auto;
		top: 100%;
	}

	.sxemo-controls.right {
		width: 0;
		height: 100%;
		left: 100%;
		bottom: 0;
	}

		.sxemo-controls.right .control-icon {
		}

.control-icon {
	width: 20px;
	height: 20px;
	border: none;
	background-color: transparent;
	color: #fff;
	opacity: 0.5;
	transition: all 0.1s ease;
	padding: 5px;
	cursor: pointer;
}

	.control-icon:hover {
		opacity: 1;
	}

	.control-icon:focus {
		outline: none;
	}

	.control-icon.danger {
		color: #d84f4f;
		opacity: 1;
	}

		.control-icon.danger:hover {
			color: #ff3838;
			opacity: 1;
		}

.header-button {
	border: none;
	background-color: transparent;
	color: #777;
	padding: 10px;
}

	.header-button:hover {
		color: #999;
	}

	.header-button:focus {
		outline: none;
	}

	.header-button:first-child {
		margin-left: -10px;
	}

	.header-button.big {
		font-size: 16px;
	}

	.header-button.right {
		float: right;
	}