<span class="sxemo-connector" ng-class="{ out: connector.canStart }" ng-mousedown="connector.dragStart($event);">
	<!-- [CONNECTOR] Svg line -->
	<svg ng-attr-width="{{connector.line.box[0] || 1}}" ng-attr-height="{{connector.line.box[1] || 1}}" xmlns="http://www.w3.org/2000/svg" ng-show="connector.canStart && connector.line.visible" ng-class="{ connected: connector.line.target }">
	  <path ng-attr-d="{{connector.line.path() || 'M0,0'}}" />
	</svg>
</span>