<div class="sxemo-area" ng-click="area.start()">
	<!-- [AREA] Empty placeholder -->
	<span class="placeholder" ng-show="model.trim() === '' && !area.state">Double click to add a description</span>
	
	<!-- [AREA] Content -->
	<span ng-show="!area.state && model.trim() !== ''">{{model}}</span>
	
	<!-- [AREA] Editor -->
	<textarea ng-show="area.state" ng-model="model" ng-blur="area.save()" />
</div>