<div class="sxemo-colors" ng-click="colors.open = !colors.open" ng-mouseleave="colors.open = false" ng-class="{ open: colors.open }">
	<!-- [COLORS] Current color -->
	<span class="sxemo-color color-{{colors.model}}" title="Change block color"></span>
	
	<!-- [COLORS] Options -->
	<ul class="sxemo-colors-options" ng-show="colors.open">
		<!-- [COLORS] Single option -->
		<li class="sxemo-colors-option" ng-repeat="color in colors.options" ng-click="$event.stopPropagation(); colors.select(color)" ng-class="{ current: color === colors.model }">
			<!-- [COLORS] Option color -->
			<span class="sxemo-color color-{{color}}"></span>
		</li>
	</ul>
</div>